@media screen and (max-width:321px){
    body{
        /* font-size:15px; */
        font-size:0.22rem;
    }
}

@media screen and (min-width:321px) and (max-width:400px){
    body{
        /* font-size:16px; */
        font-size:0.22rem;
    }
}

@media screen and (min-width:400px){
    body{
        /* font-size:18px; */
        font-size:0.22rem;
    }
}